body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.box{
    background: black;
    padding-top: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    
}
.name{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25pt;
    padding: 10px;
}
.name a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    transition: color 0.3s;  
}
.name a:hover{
    color: #ccc
}
.name a.active{
    color: #888;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 13pt;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.menu-left{
    display: flex;
    gap: 20px;
}
.menu-right{
    display: flex;
    gap: 10px;
    padding-right: 15px;
}
.menu a{
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}
.menu a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}
.menu a:hover::after{
    width: 100%;
}
.menu a.active::after{
    width: 100%;
}

.productname a{
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}
.productname a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}
.productname a:hover::after{
    width: 100%;
}
.productname a.active::after{
    width: 100%;
}
p{
  margin-top: 0px;
}

.search input{
    width: 200px;
    height: 20px;
    
}
.search{
    margin-top: -117px;
    margin-right: 15px;
    position: absolute;
    right: 14px;
}

#user{
    width: 25px;
    height: 25px;
    padding-left: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}
#user:hover{
    transform: scale(1.1);
}
#basket{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s;
}
#basket:hover{
    transform: scale(1.01);
}
.bg{
   width: 100%;
   max-width: 100%;
   height: auto;
   display: block;
   padding: 10px;
   margin-top: -30px;
   margin-left: -10px;
   margin-right: -10px;
   cursor: pointer;
   transition: filter 0.2s;
   animation: showup 1.5s ease-out forwards;
   pointer-events: none;
}
@keyframes showup{
    from{
        transform: scale(1.05);
        filter: brightness(30%);
    }
    to{
        transform: scale(1);
        filter: brightness(100%);
    }
}


na{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
.center{
    text-align: center;
}
.underline{
    display: inline-block;
    border-bottom: 3px solid black;
    padding: 20px;
    
}

bar{
    display: flex;
    justify-content: center;
    gap: 60px;
}
bar1{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}
#product{
    margin-top: 60px;
    width: 300px ;
    height: 350px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: transfrom 0.2s;
}
#product:hover{
    transform: scale(1.1);
}
#product img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.productname {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 11pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
} 
.productname1{
    margin-top: 20px;
    font-size: 11pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
} 
.productname1 a{
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    
}
.productname1 a::after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}
.productname1 a:hover::after{
    width: 100%;
}
.productname1 a.active::after{
    width: 100%;
}
rdy{
    margin-left: -40px;
}
la{
    margin-left: 152px;
}
bape1{
    margin-left: 127.5px;
}
bape2{
    margin-left: 205px;
}
rdy1{
    margin-left: 98px;
}
la1{
    margin-left: 157px;
}
bape11{
    margin-left: 173px;
}
bape21{
    margin-left: 222px;
}
fog{
    margin-left: 120px;
}
hm{
    margin-left: 188px;
}
ap{
    margin-left: 120px;
}
nera{
    margin-left: 85px;
}

.price{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price1{
    margin-top: 25px;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

prdy{
    margin-left: -2px;
}
pla{
    margin-left: 322px;
}
pb1{
    margin-left: 303px;
}
pb2{
    margin-left: 310px;
}
v{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 17px; 
}
.br{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    padding: 17px;
    transition: transform 0.2;
}
.br:hover{
    transform: scale(1.05);
}
a{
    text-decoration: none;
    color: black;
}
#man{
    margin-top: 100px;
    width: 600px;
    height: 950px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: transfrom 0.2s;
}
#man:hover{
    filter: brightness(80%);
}
#man img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}
bar2{
    display: flex;
    justify-content: center;
    gap: 20px;
}
bar3{
    display: flex;
    justify-content: center;
}
#bst{
    margin-top: 20px;
    width: 1225px;
    height: auto;
}
#bst:hover{
    filter: brightness(80%);
}

video{
    width: 1000px;
    height: auto;
}


.footer {
  background: #111;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1 1 250px;
  margin: 10px;
}

.footer-column h4 {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #bbb;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #fff;
}


.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 15px;
  text-align: center;
}


button {
    width: 150px;
    height: 20px;
    color: black;
    background: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}
button:hover{
    transform: scale(1.07);
}
.boxbox{
    background: black;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.boxbox1{
    background: black;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
}
